/* Container for page content */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
    width: 100%;
    box-sizing: border-box;
}
/* Typography */

html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    html {
	font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
	font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
	font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
	font-size: 20px;
    }
}

.icons-social i {
    font-size: 3em;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .banner {
    width: 100vw;
    margin-left: 49.2%;
    transform: translateX(-50%);
    overflow: hidden;
    max-height: 44vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .banner > img {
    width: 100vw;
    height: auto;
    max-height: 44vh;
    object-fit: cover;
    display: block;
}

main > .intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .subtitle {
    font-size: 1.5rem;
    font-weight: 100;
}

main > .tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
    color:aqua;
    :hover {
        color: #ff4081;
    }
    visted {
        color: #ff4081;
    },s
}

main > .events {
    display: flex;
    gap: 20px;
}

main > .events > ul {
    flex-basis: 33%;
}

.icons-social i {
    padding: 10px;
}

hr {
    width: 100%;
}
