:root {
  --primary: #4B5658;
  --background: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fafafa;
    --background: #485564;
  }
}

main {
    background: var(--background);
    color: var(--primary);
}

.icons-social a {
    color: var(--primary);
}

.icons-social a svg path{
    fill: var(--primary);
}

.podcast a {
    color: var(--primary);
}
